body {
  background-color: #639A67;
}

header {
    border: 3px solid #205D67;
    margin: auto;
    background-color: #D8EBB5;
    padding: 10px;
    height: 352px;
    max-width: 900px;
}

h1 {
    font-size: 48px;
    color: #205D67;
    font-family: monospace;
    text-indent: 25px;
}

h2 {
    color: #205D67;
}

h3 {
    font-size: 36px;
    max-width: 400px;
    text-align: center;
}

img {
    border: 15px solid #D9BF77;
    width: 344px;
    position: relative;
    top: -253px;
    left: 536px;
}

.para1 {
    border: 3px solid #205D67;
    margin: 10px;
    background-color: #D8EBB5;
    padding: 10px;
}

.para2 {
    border: 3px solid #205D67;
    margin: 10px;
    background-color: #D8EBB5;
    padding: 10px;
}

.list1 {
    border: 3px solid #205D67;
    margin: 10px;
    background-color: #D8EBB5;
    padding: 10px;
}

.list2 {
    border: 3px solid #205D67;
    margin: 10px;
    background-color: #D8EBB5;
    padding: 10px;
}

footer {
    border: 3px solid #205D67;
    background-color: #D8EBB5;
    padding: 10px;
    position: relative;
    bottom: 10px;
    text-align: center;
    margin: 10px;
}
